DATABASE_URL="postgresql://postgres:postgres@localhost:5432/todo_app?schema=public"
# For local development
NEXTAUTH_URL="http://localhost:3000"
# For production (set in Vercel): https://task-todo-dun-one.vercel.app
NEXTAUTH_SECRET="n9fe4R9roCVTLUbmNuOJ4sryhQq1H9oImzl2oGzZQog="
GOOGLE_CLIENT_ID="929703007676-qlht3uqjofhqj4ghq66s1vfls6uhoj19.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"

